@media screen and (max-width: 700px ){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 190px;
    }

    .titulo{
        font-size: 30px;
    }

    .filme-principal .descricao{
        margin-bottom: 5px;
    }

}

@media screen and (min-width:1000px){
    descricao{
        width: 50%;
    }
}